/* You can add global styles to this file, and also import other style files */
html,
body{
  background-color: black;
  color: #BBB;
  font-size: larger;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin: 30px 0;
}

.hidden{
  display: none;
}

.well{
  border-top: 1px solid #BBB;
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

.side-nav{
  width: 200px;
  display: inline-block;
  border-right: 1px solid #BBB;
  height: calc(100% - 114px);
  margin: 0;
  padding: 20px;
  float: left;
  text-align: center;
}

.form-container{
  display: inline-block;
  width: calc(100% - 281px);
  padding: 20px;
}

.form-list{
  min-height: 150px;
}

.hover-note{
  text-decoration: underline;
  text-decoration-style:dashed;
}

.hover-note .hover-content{
  display:none;
}

.hover-note:hover .hover-content {
    display:block;
    position:fixed;
    overflow:hidden;
    min-width: 50px;
    max-width: 450px;
    background-color: rgb(100,100,100);
    padding: 10px;
    border-radius:4px;
}

.nav-button{
  width: 70px;
  height: 200px;
  border-radius: 5px;
  font-size: 50px;
  background-color: #999;
  border: none;
  float: left;
}

.copy-button{
  height: calc(100% - 40px);
  float: left;
  vertical-align: middle;
  background-color: #BBB;
  border-radius: 5px;
  padding: 20px;
  color: #444;
  font-size: 15px;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
}

.copy-button .copy-text{
  margin-top: 8px;
}

.copy-button svg{
  font-size: 45px;
}
